<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#FFE4C4">
<h1>Vehiclee</h1>
<p>Vehicle owner login!</p>
<P>The time on the server is ${serverTime}.</p>

<form action="welcome" method="post">
    <table align="center">
        <tr>
            <td>
                <label path="username">Username: </label>
            </td>
            <td>
                <input type="text" name="userName"><br>
            </td>
        </tr>

        <tr>
            <td>
                <label path="password">Password:</label>
            </td>
            <td>

                <input type="text" name="password"><br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="left">

                <input type="submit" value="Login">
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><a href="home.html">Home</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>