<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Your Vehicle</title>
</head>
<body bgcolor="#FFE4C4">
<form action="success" method="post">
    <table align="left">
        <tr>
            <td>
                <label path="VehicleType">Vehicle Type: </label>
            </td>
            <td>
                <input type="text" name="Vehicle_Type"><br>
            </td>
        </tr>
        <tr>
            <td>
                <label path="model">Model No.:</label>
            </td>
            <td>

                <input type="text" name="model_no"><br>
            </td>
        </tr>
        <tr>
            <td>
                <label path="model">People Capacity:</label>
            </td>
            <td>
                <input type="text" name="people_capacity"><br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="left">

                <input type="submit" value="Register">
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><a href="home.html">Home</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>